html{
	margin:0px;
	padding: 0px;
	margin-top: 0px;
}

.boite1{
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
	height: 700px;
	background-color: #99c2ff;
}

/********Creation du menu deroulante*********/

/*tout d'abord creons la barre de menu*/
nav{
	width: 100%;
	height:60px;
	background-color:rgba(202,45,23,0.5);	
}

/*mettons les elements ul sur la meme ligne */
nav{
	width: 100%;
	height: 59px;
	background-color:rgba(124,23,33,0.6);
}

nav ul::after{
	clear: both;
	content:" ";
	display:block;
}

nav > ul{
	margin: auto;
	width: 40%;
	padding:0px;
}

nav > ul > li{
	float: left;
	position:relative;
}

nav > ul > li > a{
	padding:20px 30px;
	color:#fff;
	font-size: 20px;
}

nav li{
	list-style-type: none;
}

nav a{
	display:inline-block;
	text-decoration: none;
}

.contenu-menu{
	display: none;
}

nav li:hover .contenu-menu{
	display: inline;
	position:absolute;
	top:100%;
	left:13%;
	padding:0%;
	z-index:1000;
}

.contenu-menu li{
	border-bottom:2px solid rgba(23,34,45,0.8);
}

.contenu-menu li a{
	padding:24px 10px;
	font-size:13px;
	color:#222538;
	width: 100px;
}

.contenu-menu li:hover {
	background-color:rgba(45,32,32,0.4);
}

.menu1:hover{
	border-top:2px solid #345;
	background-color:rgba(23,134,34,0.7);
}

.menu2:hover{
	border-top:2px solid #345;
	background-color:rgba(123,134,34,0.7);
}

.menu3:hover{
	border-top:2px solid #345;
	background-color:rgba(233,134,34,0.7);
}
/**********Fin du menu deroulante*********/

h1{
	text-align:left;
	padding-top: 15px;
}

.colonne{
	display: inline-block;
	width: 30%;
	position: relative;
	top: 100px;
	height: 400px;
	box-shadow:  0 0 8px 4px black;
}

.colonne1{
	margin-left: 38px;
	background-color: rgba(20,30,30,0.3);

}

.colonne2{
	margin-left: 38px;

}

.colonne3{
	margin-left: 38px;

}

.boite2{
	width: 100%;
	height: 700px;
	background-color: #bb99ff;
}

.boite3{
	width: 100%;
	height: 700px;
	background-color:  #ffccb3
}